[submodule "BasicCalculator"]
	path = BasicCalculator
	url = https://github.com/atheo810/python-basic-calculator.git
[submodule "EmailSlicer"]
	path = EmailSlicer
	url = https://github.com/atheo810/Email-Slicer.git
[submodule "QuizProgram"]
	path = QuizProgram
	url = https://github.com/atheo810/QuizProgram.git
[submodule "QrGenerator"]
	path = QrGenerator
	url = https://github.com/atheo810/QrGenerator.git
